.JokeList{
    display: flex;
    width:80%;
    height: 80%;
}

.JokeList-sidebar{
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    box-shadow: 5px 5px 8px 5px #2a2c4a;
    z-index: 2;
}

.JokeList-title{
    font-size: 3rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.JokeList-title span{
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-sidebar img{
    width: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 8px 5px #282a48;

}

.JokeList-sidebar img:hover{
    animation-name:tilt-n-move-shaking ;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    
}

.JokeList-joke{
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow: scroll;
    box-shadow: 5px 5px 8px 5px #333336;
}

.JokeList-spinner{
    text-align: center;
    color: white;
}

.JokeList-spinner img{
width: 100px;
}

.JokeList-getmore{
    font-size: 1.5rem;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem ;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    margin: 1.2rem;
    cursor: pointer;
    transition: 0.8s ease;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    box-shadow: 5px 5px 8px 5px #333336;

}

.JokeList-getmore:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
 